{% extends '::base.html.twig' %}
{% block content_title %}
    Панель отчета
{% endblock %}
{% block content %}
    {{ render(controller('ApplicationSchoolBundle:Report:searchForm')) }}
{% endblock %}