<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Добро пожаловать{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('public/css/normalize.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('public/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('public/bootstrap/css/bootstrap-theme.css') }}" rel="stylesheet">
        <link href="{{ asset('public/css/main.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="logo pull-left">
            <a href="{{ path('school_main_index') }}">
                <img src="{{ asset('public/img/logo.png') }}"/>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ path('school_classgroup_list') }}">Мониторинг по классам</a></li>
            <li><a href="{{ path('school_report_create') }}">Отчеты по классам</a></li>
            <li><a href="{{ path('student_extract') }}">Выписка</a></li>
            <li><a href="{{ path('student_summer') }}">За лето</a></li>
            <li><a href="{{ path('school_report_index') }}">История отчетов</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class=""><a href="{{ path('sonata_admin_dashboard') }}">Админ</a></li>
        </ul>

    </div>
</nav>
<div class="container content">
    {% block body %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 class="page-header">
                    {% block content_title %}
                        Панель
                    {% endblock %}
                </h1>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('public/js/jquery_1.11.0_jquery.js') }}"></script>
    <script src="{{ asset('public/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('public/js/fos_js_routes.js') }}"></script>
    <script src="{{ asset('public/js/classgroup.js') }}"></script>
{% endblock %}
<footer>

</footer>
</body>
</html>
