@charset "UTF-8";
.nav-sidebar {
    margin-right: -21px;
    margin-left: -20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.content {
    margin-top: 50px;
}

.report-template {
    width: 8.3in;
    min-height: 11.7in;
    padding: 0.5in;
    border: 1px solid #000000;
    font-size: 11px;
}

.rotate th {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.wholeReport th, .wholeReport td {
    text-align: center;
    vertical-align: middle !important;
}

nav {
    padding: 10px 0;
}

.btn-radio {
    width: 200px;
}

.btn-radio span {
    padding-left: 10px;
}